/* Header */
ion-header {
    transition: opacity 0.5s ease-in-out;
    background: #a6c5f7;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* Toolbar */
  ion-toolbar {
    --background: none;
    color: #fff;
  }

  /* Title */
  .custom-title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
  }

  /* Family-oriented Content Background */
  .family-content {
    background-color: #f0f8ff;
  }

  /* Children Card */
  .children-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  /* Child Icon */
  .child-icon {
    color: #ffd700;
    font-size: 30px;
  }

  /* Child Details */
  .child-details h2 {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
  }

  .child-details p {
    color: #777;
  }

  /* Add Button Styling */
  .add-btn {
    --background: #4a90e2;
    --color: white;
    font-size: 24px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
  }

  ion-fab-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: #a6c5f7;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Full height to center it vertically */
  }

  /* Responsive Styling */

  /* Small Devices */
  @media (max-width: 600px) {
    .custom-title {
      font-size: 24px;
    }

    .children-card {
      margin: 10px;
      border-radius: 10px;
    }

    .child-icon {
      font-size: 24px;
    }

    .child-details h2 {
      font-size: 18px;
    }

    .add-btn {
      width: 60px;
      height: 60px;
      font-size: 20px;
    }
  }

  /* Extra Small Devices */
  @media (max-width: 400px) {
    .custom-title {
      font-size: 20px;
    }

    .children-card {
      margin: 5px;
      border-radius: 8px;
    }

    .child-details h2 {
      font-size: 16px;
    }

    .add-btn {
      width: 50px;
      height: 50px;
      font-size: 18px;
    }
  }
