<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-content">
      <img src="assets/logo-rmb.png" alt="App Logo" class="toolbar-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Login Section -->
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button ion-margin-top">Login</ion-button>
      <ion-button expand="block" routerLink="/signup" class="ion-margin-top">Sign Up</ion-button>
    </form>
  </div>
</ion-content>
