<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Logo Section -->
  <div class="logo-container" style="text-align: center;">
    <img src="assets/logo.png" alt="App Logo" style="width: 230px;">
  </div>

  <div class="login-container">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="ion-margin-top">Login</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/signup" class="ion-margin-top">Sign Up</ion-button>
  </div>
</ion-content>
