ion-toolbar {
  --background: #2c3e50; /* Dark background color */
  --color: white;        /* White text color */
}

.activity-card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    position: relative;
  }
  
  ion-item {
    --inner-padding-end: 0;
  }
  
  .date-label, .time-label, .activity-label {
    font-weight: bold;
    color: #4A4A4A;
    font-size: 14px;
    margin-top: 25px;
  }
  
  .date-text, .time-text, .activity-text {
    color: #333333;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .date-text {
    color: #1E90FF; /* Customize date color */
  }
  
  .time-text {
    color: #32CD32; /* Customize time color */
  }
  
 
  ion-button {
    --border-radius: 8px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-weight: bold;
  }
  
  ion-content {
    --background: #f3f4f6; /* Light background color */
  }
  
  .delete-button {
    position: absolute;
    right: 3px; /* Adjust right spacing */
    z-index: 10;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    height: 40px; /* Adjust the size of the button */
    width: 40px;  /* Adjust the size of the button */
    background: transparent; /* Ensure the background is transparent */
    border: none; /* Remove border if necessary */
    --box-shadow: none; /* Remove box shadow if necessary */
  }

  ion-select{
    margin-right: 40px;
  }
   
  