/* Header */
ion-header {
  transition: opacity 0.5s ease-in-out;
  background: #a6c5f7; 
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Toolbar */
ion-toolbar {
  --background: none; 
  color: #fff; 
}

/* Custom Title */
.custom-title {
  font-size: 30px;
  font-family: 'Segoe UI', sans-serif; 
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-item {
  margin-bottom: 16px;
  --border-width: 0px;
  --highlight-height: 0px;
  --inner-border-width: 0px;
  --min-height: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

ion-label {
    color: #333;
    margin-bottom: 8px; 
    font-size: 16px; 
  }

  ion-input {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 2px solid #d0d0d0;
    margin-top: 4px; 
  }

ion-button {
  --border-radius: 8px;
}
