<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-content">
      <img src="assets/logo-rmb.png" alt="App Logo" class="toolbar-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="signup-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input type="password" formControlName="password_confirmation" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="signupForm.invalid">
        Create Account
      </ion-button>
    </form>

    <div class="login-link">
      <ion-button fill="clear" routerLink="/login">
        Already have an account? Login
      </ion-button>
    </div>
  </div>
</ion-content>
