<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Logo Section -->
  <div class="logo-container" style="text-align: center; margin-bottom: 20px;">
    <img src="assets/logo.png" alt="App Logo" style="max-width: 200px;">
  </div>

  <div class="signup-container">
    <form (submit)="onSignup()">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">Create Account</ion-button>
    </form>
  </div>
</ion-content>